<h5>{{ i18n.getMessage("next_match_block_title") }}</h5>
{% if match_date is defined %}
<div class="row">
	<div class="span4">
		<p><em>{{ env.getFormattedDatetime(match_date) }} | {{ i18n.getMessage("matchtype_" ~ match_type) }}</em><br/>
		{% if env.getUser().clubId == match_home_id %}
			<em>Gegner: </em><a href="{{ env.getInternalUrl("team", "id=" ~ match_guest_id) }}">{{ match_guest_name }}</a><br/>
			<em>Aufgestellt?: </em>
			{% if match_home_formation_id %}
				<i style="color: green;" class="fa fa-check-square wstooltip" title="{{ i18n.getMessage("formation_submitted_tooltip") }}"></i>
			{% else %}
				<i style="color: red;" class="fa fa-times-rectangle wstooltip" title="{{ i18n.getMessage("formation_notsubmitted_tooltip") }}"></i>
			{% endif %} 
		{% else %}
			<em>Gegner: </em><a href="{{ env.getInternalUrl("team", "id=" ~ match_home_id) }}">{{ match_home_name }}</a><br/>
			<em>Aufgestellt?: </em>
			{% if match_guest_formation_id %}
				<i style="color: green;" class="fa fa-check-square wstooltip" title="{{ i18n.getMessage("formation_submitted_tooltip") }}"></i>
			{% else %}
				<i style="color: red;" class="fa fa-times-rectangle wstooltip" title="{{ i18n.getMessage("formation_notsubmitted_tooltip") }}"></i>
			{% endif %} 
		{% endif %}
		</p>
		<p><a href="{{ env.getInternalUrl("match", "id=" ~ match_id) }}" class="btn">{{ i18n.getMessage("match_navlabel") }}</a></p>
	</div>
</div>
{% else %}
<p>{{ i18n.getMessage("next_match_block_no_nextmatch") }}</p>
{% endif %}