{% import "macros/playerlists.twig" as playerlists %}

{% if players is defined and players|length > 0 %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th><abbr title="{{ i18n.getMessage("playertable_head_position") }}"><i class="fa fa-spinner fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("playertable_head_name") }}"><i class="fa fa-user fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("playertable_head_age") }}"><i class="fa fa-refresh fa-lg"></i></abbr></th>
				
				{% if env.getConfig("hide_strength_attributes") != "1" %}
					<th><abbr title="{{ i18n.getMessage("playertable_head_zustand") }}"><i class="fa fa-bar-chart fa-lg"></i></abbr></th>
				{% endif %}
				
				<th><abbr title="{{ i18n.getMessage("entity_player_marktwert") }}"><i class="fa fa-area-chart fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_sa_spiele") }}"><i class="fa fa-street-view fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_sa_tore") }}"><i class="fa fa-futbol-o fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_sa_assists") }}"><i class="fa fa-star fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_note_last") }}"><i class="fa fa-cubes fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_note_schnitt") }}"><i class="fa fa-line-chart fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("playertable_head_blocked") }}"><i class="fa fa-medkit fa-lg"></i> / <i class="fa fa-ban fa-lg"></i></abbr></th>
			</tr>			
		</thead>
		<tbody>
		
			{% for player in players %}
				{{ playerlists.teamlistItem(player)  }}
			{% endfor %}
		
		</tbody>
	</table>

{% else %}
	<p>{{ i18n.getMessage("no_players_found") }}</p>
{% endif %}