{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}
{% import "macros/messagebox.twig" as messagebox %}

{% block page_title %}
{{ i18n.getMessage("matchesfs_navlabel") }}
{% endblock %}

{% block page_content %}


<ul class="nav nav-tabs" id="matchesFSTab">
  <li class="active"><a href="#schedule" data-toggle="tab">{{ i18n.getMessage("matchesfs_tab_schedule") }}</a></li>
  <li><a href="#requests" data-toggle="tab"
    data-ajaxtarget="requests" data-ajaxblock="matchesfs-requests" class="ajaxLink">{{ i18n.getMessage("matchesfs_tab_requests") }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="schedule">

        <form class="form-horizontal" method="post">

            <div class="control-group">
                <label class="control-label" for="date">
                    <strong>{{ i18n.getMessage('matchesfs_date_label') }}</strong>
                </label>

                <div class="controls">
                    <div class="input-append date datepicker">
                        <input name="date_date" value="{{ matchesfs.date }}" class="input-small" type="text"><span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                    <div class="input-append bootstrap-timepicker">
                        <input name="date_time" value="" class="timepicker input-small" type="text"><span class="add-on"><i class="icon-time"></i></span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="opponent">
                    <strong>{{ i18n.getMessage('matchesfs_opponent_label') }}</strong>
                </label>

                <div class="controls">
                    <select id="opponent" name="opponent">
                        <option></option>
                        {% for team in teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            {{ formelements.checkbox("shootout", i18n.getMessage("matchesfs_shootout_label"), "0", false) }}

            <div class="form-actions">
                <button type="submit" 
                class="btn btn-success">{{ i18n.getMessage('button_save_fs') }}</button>
            </div>
            <input type="hidden" name="page" value="matchesfs"/>
            <input type="hidden" name="action" value="matchesfs-add-request"/>
        </form>

    </div>
    <div class="tab-pane" id="requests">
        ...
    </div>
</div>

<p style="text-align: center; font-style: italic;">Freundschaftsspiel Plugin &copy; 2017 by <a href="https://www.app-raisal.de" target="_blank">Cris</a></p>

{% endblock %}