
{% extends "base.twig" %}

{% import "macros/playerlists.twig" as playerlists %}

{% block page_title %}
{{ i18n.getMessage("myteam_title") }}
{% endblock %}

{% block page_content %}

{% if players is defined and players|length > 0 %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th><abbr title="{{ i18n.getMessage("playertable_head_position") }}"><i class="fa fa-spinner fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("playertable_head_name") }}"><i class="fa fa-user fa-lg"></i></abbr></th>
				
				{% if env.getConfig("hide_strength_attributes") != "1" %}
					<th><abbr title="{{ i18n.getMessage("playertable_head_zustand") }}"><i class="fa fa-bar-chart fa-lg"></i></abbr></th>
				{% endif %}
				
				<th><abbr title="{{ i18n.getMessage("playertable_head_age") }}"><i class="fa fa-refresh fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_marktwert") }}"><i class="fa fa-area-chart fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_vertrag_gehalt") }}"><i class="fa fa-eur fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_sa_spiele") }}"><i class="fa fa-street-view fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_sa_tore") }}"><i class="fa fa-futbol-o fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_sa_assists") }}"><i class="fa fa-star fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_note_last") }}"><i class="fa fa-cubes fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_note_schnitt") }}"><i class="fa fa-line-chart fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_verletzt") }}"><i class="fa fa-medkit fa-lg"></i></abbr></th>
				<th><abbr title="{{ i18n.getMessage("entity_player_gesperrt") }}"><i class="fa fa-ban fa-lg"></i></abbr></th>
			</tr>
		</thead>
		<tbody>
			{% set salarySum = 0 %}
			{% for player in players %}
			{% set salarySum = salarySum + player.contract_salary %}
			<tr{% if player.contract_matches < 10 %} class="error"{% endif %}>
				<td style="text-align: center">
					{% set nationImg = skin.getImage("flags/players/" ~ player.player_nationality_filename ~ ".png") %}
					{% if i18n.hasMessage("option_" ~ player.player_nationality_filename) %}
						{% set countryLabel = i18n.getMessage("option_" ~ player.player_nationality_filename) %}
					{% endif %}
					{% if (player.picture|length > 0) %}
						<img src="{{ env.getConfig("context_root") }}/uploads/player/{{ player.picture }}" class="img-rounded" width="50px" />
					{% else %}
						<img src="{{ env.getConfig("context_root") }}/uploads/player/nobody.png" class="img-rounded" width="50px" />
					{% endif %}					
					{% if nationImg %}<br /><img src="{{ nationImg }}" title="{{ countryLabel }}" alt="{{ countryLabel }}" />{% endif %}
					<p title="{{ i18n.getMessage("option_" ~ player.position_main) }}">
					{% if (player.position_main|length > 0) %}
						<img src="{{ env.getConfig("context_root") }}/uploads/positions/{{ i18n.getMessage("player_mainposition_" ~ player.position_main) }}.png" width="25px" />
					{% endif %}
					{% if (player.position_second|length > 0) %}
						<img src="{{ env.getConfig("context_root") }}/uploads/positions/{{ i18n.getMessage("player_secondposition_" ~ player.position_second) }}.png" width="25px" />
					{% endif %}
					</p>
				</td>
				<td><p><a href="{{ env.getInternalUrl("player", "id=" ~ player.id) }}">{{ player.firstname }} {% if player.pseudonym|length > 0 %}"{{ player.pseudonym }}" {% endif %}{{ player.lastname }}</a>
				{% if player.unsellable == 1 %}
					<a class="ajaxLink" href="#" title="{{ i18n.getMessage("myteam_unsellable_unmark_tooltip") }}"
								data-ajaxtarget="pagecontent" data-ajaxquerystr="page=myteam&action=unmarkUnsellable&id={{ player.id }}"><i class="icon-eye-close darkIcon"></i></a>
				{% endif %}
				{% if player.transfermarket %}
					<a class="wstooltip" href="{{ env.getInternalUrl("transfer-bid", "id=" ~ player.id) }}" title="{{ i18n.getMessage("entity_player_transfermarkt") }}"><i class="icon-hand-up darkIcon"></i></a>
				{% endif %}
				{% if player.id == captain_id %}
					<i class="icon-group wstooltip" title="{{ i18n.getMessage("myteam_captain_tooltip") }}"></i>
				{% endif %}

				{% if player.lending == 0 %}
					{% set lending = "Kaufangebot" %}
				{% elseif player.lending == "1" %}
					{% set lending = "Leihe bis WP" %}
				{% elseif player.lending == 2 %}
					{% set lending = "Leihe bis SE" %}
				{% else %}
					{% set lending = "Leihe 2 Saisons" %}
				{% endif %}						
				{% if player.lending > 0 %}
					<i class="icon-star-empty" title="{{ lending }}"></i>
				{% endif %}

				{% if player.comment|length > 0 and player.lending > 0 %}
					<i class="fa fa-book" title="{{ player.comment }}"></i>
				{% endif %}

				{% if player.clausel|length > 0 %}
					<i class="fa fa-gavel" title="{{ player.clausel }}"></i>
				{% endif %}
				</p>
				
				{% if player.lending_owner_id == 0 and
					(player.transfermarket == 0 
					or env.getConfig("enable_player_resignation") 
					or player.contract_matches <= env.getConfig("contract_max_number_of_remaining_matches")) 
					or env.getConfig("lending_enabled") == 0
					or player.id != captain_id %}
					<div class="btn-group">
						<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">{{ i18n.getMessage("myteam_action_button") }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
						
							{% if player.unsellable == 0 %}
								{% if env.getConfig("transfermarket_enabled") and player.lending == 0 %}
									<li><a href="{{ env.getInternalUrl("sell-player", "id=" ~ player.id) }}"><i class="icon-share"></i> {{ i18n.getMessage("myteam_player_sell") }}</a></li>
								{% endif %}
								{% if player.lending == 0 %}
									<li><a class="ajaxLink" href="#" title="{{ i18n.getMessage("myteam_unsellable_tooltip") }}"
										data-ajaxtarget="pagecontent" data-ajaxquerystr="page=myteam&action=markAsUnsellable&id={{ player.id }}"><i class="icon-eye-close"></i> {{ i18n.getMessage("myteam_unsellable") }}</a></li>
								{% endif %}
							{% endif %}
							
							{% if player.contract_matches <= env.getConfig("contract_max_number_of_remaining_matches") and player.lending == 0 %}
								<li><a href="{{ env.getInternalUrl("extend-contract", "id=" ~ player.id) }}"><i class="icon-briefcase"></i> {{ i18n.getMessage("myteam_player_extend_contract") }}</a></li>
							{% endif %}
							
							{% if player.id != captain_id %}
								<li><a href="{{ env.getInternalActionUrl("select-captain", "id=" ~ player.id) }}"><i class="icon-group"></i> {{ i18n.getMessage("myteam_player_select_as_captain") }}</a></li>
							{% endif %}
							
							{% if env.getConfig("enable_player_resignation") and player.lending == 0 %}
								<li><a href="#fire{{ player.id }}Modal" role="button" data-toggle="modal"><i class="icon-remove-circle"></i> {{ i18n.getMessage("fireplayer_button") }}</a></li>
							{% endif %}
						</ul>
					</div>
				
					{% if env.getConfig("enable_player_resignation") %}
						<div id="fire{{ player.id }}Modal" class="modal hide fade" tabindex="-1" role="dialog" 
							aria-labelledby="fire{{ player.id }}ModalLabel" aria-hidden="true">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="fire{{ player.id }}ModalLabel">{{ i18n.getMessage("fireplayer_modal_title" ) }}</h3>
						  </div>
						  <div class="modal-body">
						  	<p>{{ i18n.getMessage("fireplayer_modal_content",player.firstname ~ " " ~ player.lastname) }}</p>
						  	
						  	{% if env.getConfig("player_resignation_compensation_matches") > 0 %}
						  		<p>{{ i18n.getMessage("fireplayer_modal_compensation")|format((env.getConfig("player_resignation_compensation_matches") * player.contract_salary)|number_format(0, ',', '.'), env.getConfig("game_currency"))|raw }}</p>
						  	{% endif %}
						  	
						  </div>
						  <div class="modal-footer">
						  	<a href="{{ env.getInternalActionUrl("fire-player", "id=" ~ player.id) }}" class="btn btn-primary">{{ i18n.getMessage("fireplayer_modal_confirm") }}</a>
						    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ i18n.getMessage("button_cancel") }}</a>
						  </div>
						</div>
					{% endif %}
				{% endif %}

				</td>
				
				{% if env.getConfig("hide_strength_attributes") != "1" %}
					<td>
						{% if player.strength_freshness < 15 %}
							{% set number_freshness = 22 %}
						{% elseif player.strength_freshness < 20 %}
							{% set number_freshness = 21 %}
						{% elseif player.strength_freshness < 25 %}
							{% set number_freshness = 20 %}
						{% elseif player.strength_freshness < 30 %}
							{% set number_freshness = 19 %}
						{% elseif player.strength_freshness < 35 %}
							{% set number_freshness = 18 %}							
						{% elseif player.strength_freshness < 40 %}
							{% set number_freshness = 17 %}
						{% elseif player.strength_freshness < 45 %}
							{% set number_freshness = 16 %}
						{% elseif player.strength_freshness < 50 %}
							{% set number_freshness = 15 %}
						{% elseif player.strength_freshness < 55 %}
							{% set number_freshness = 14 %}
						{% elseif player.strength_freshness < 59 %}
							{% set number_freshness = 13 %}
						{% elseif player.strength_freshness < 63 %}
							{% set number_freshness = 12 %}
						{% elseif player.strength_freshness < 65 %}
							{% set number_freshness = 11 %}
						{% elseif player.strength_freshness < 69 %}
							{% set number_freshness = 10 %}
						{% elseif player.strength_freshness < 73 %}
							{% set number_freshness = 9 %}
						{% elseif player.strength_freshness < 76 %}
							{% set number_freshness = 8 %}
						{% elseif player.strength_freshness < 81 %}
							{% set number_freshness = 7 %}
						{% elseif player.strength_freshness < 86 %}
							{% set number_freshness = 6 %}
						{% elseif player.strength_freshness < 90 %}
							{% set number_freshness = 5 %}
						{% elseif player.strength_freshness < 94 %}
							{% set number_freshness = 4 %}
						{% elseif player.strength_freshness < 97 %}
							{% set number_freshness = 3 %}
						{% elseif player.strength_freshness < 100 %}
							{% set number_freshness = 2 %}
						{% else %}
							{% set number_freshness = 1 %}
						{% endif %}	

						{% if player.strength_stamina < 15 %}
							{% set number_stamina = 22 %}
						{% elseif player.strength_stamina < 20 %}
							{% set number_stamina = 21 %}
						{% elseif player.strength_stamina < 25 %}
							{% set number_stamina = 20 %}
						{% elseif player.strength_stamina < 30 %}
							{% set number_stamina = 19 %}
						{% elseif player.strength_stamina < 35 %}
							{% set number_stamina = 18 %}							
						{% elseif player.strength_stamina < 40 %}
							{% set number_stamina = 17 %}
						{% elseif player.strength_stamina < 45 %}
							{% set number_stamina = 16 %}
						{% elseif player.strength_stamina < 50 %}
							{% set number_stamina = 15 %}
						{% elseif player.strength_stamina < 55 %}
							{% set number_stamina = 14 %}
						{% elseif player.strength_stamina < 59 %}
							{% set number_stamina = 13 %}
						{% elseif player.strength_stamina < 63 %}
							{% set number_stamina = 12 %}
						{% elseif player.strength_stamina < 65 %}
							{% set number_stamina = 11 %}
						{% elseif player.strength_stamina < 69 %}
							{% set number_stamina = 10 %}
						{% elseif player.strength_stamina < 73 %}
							{% set number_stamina = 9 %}
						{% elseif player.strength_stamina < 76 %}
							{% set number_stamina = 8 %}
						{% elseif player.strength_stamina < 81 %}
							{% set number_stamina = 7 %}
						{% elseif player.strength_stamina < 86 %}
							{% set number_stamina = 6 %}
						{% elseif player.strength_stamina < 90 %}
							{% set number_stamina = 5 %}
						{% elseif player.strength_stamina < 94 %}
							{% set number_stamina = 4 %}
						{% elseif player.strength_stamina < 97 %}
							{% set number_stamina = 3 %}
						{% elseif player.strength_stamina < 100 %}
							{% set number_stamina = 2 %}
						{% else %}
							{% set number_stamina = 1 %}
						{% endif %}	

						{% if player.strength_satisfaction < 15 %}
							{% set number_satisfaction = 22 %}
						{% elseif player.strength_satisfaction < 20 %}
							{% set number_satisfaction = 21 %}
						{% elseif player.strength_satisfaction < 25 %}
							{% set number_satisfaction = 20 %}
						{% elseif player.strength_satisfaction < 30 %}
							{% set number_satisfaction = 19 %}
						{% elseif player.strength_satisfaction < 35 %}
							{% set number_satisfaction = 18 %}							
						{% elseif player.strength_satisfaction < 40 %}
							{% set number_satisfaction = 17 %}
						{% elseif player.strength_satisfaction < 45 %}
							{% set number_satisfaction = 16 %}
						{% elseif player.strength_satisfaction < 50 %}
							{% set number_satisfaction = 15 %}
						{% elseif player.strength_satisfaction < 55 %}
							{% set number_satisfaction = 14 %}
						{% elseif player.strength_satisfaction < 59 %}
							{% set number_satisfaction = 13 %}
						{% elseif player.strength_satisfaction < 63 %}
							{% set number_satisfaction = 12 %}
						{% elseif player.strength_satisfaction < 65 %}
							{% set number_satisfaction = 11 %}
						{% elseif player.strength_satisfaction < 69 %}
							{% set number_satisfaction = 10 %}
						{% elseif player.strength_satisfaction < 73 %}
							{% set number_satisfaction = 9 %}
						{% elseif player.strength_satisfaction < 76 %}
							{% set number_satisfaction = 8 %}
						{% elseif player.strength_satisfaction < 81 %}
							{% set number_satisfaction = 7 %}
						{% elseif player.strength_satisfaction < 86 %}
							{% set number_satisfaction = 6 %}
						{% elseif player.strength_satisfaction < 90 %}
							{% set number_satisfaction = 5 %}
						{% elseif player.strength_satisfaction < 94 %}
							{% set number_satisfaction = 4 %}
						{% elseif player.strength_satisfaction < 97 %}
							{% set number_satisfaction = 3 %}
						{% elseif player.strength_satisfaction < 100 %}
							{% set number_satisfaction = 2 %}
						{% else %}
							{% set number_satisfaction = 1 %}
						{% endif %}						

						<ul class="unstyled">
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_freshness") }}">{{ i18n.getMessage("playertable_head_strength_freshness_abbr") }}</abbr>:</span> 
								<img src="{{ env.getConfig("context_root") }}/uploads/strength/{{ number_freshness }}.png" width="15px" /></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_stamina") }}">{{ i18n.getMessage("playertable_head_strength_stamina_abbr") }}</abbr>:</span> 
								<img src="{{ env.getConfig("context_root") }}/uploads/strength/{{ number_stamina }}.png" width="15px" /></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_satisfaction") }}">{{ i18n.getMessage("playertable_head_strength_satisfaction_abbr") }}</abbr>:</span> 
								<img src="{{ env.getConfig("context_root") }}/uploads/strength/{{ number_satisfaction }}.png" width="15px" /></li>
						</ul>
					</td>
				{% endif %}
				
				<td>{{ player.age }} Jahre</td>
				<td>{{ player.marketvalue|number_format(0, ',', '.')  }} {{ env.getConfig("game_currency") }}</td>
				<td>{{ player.contract_salary|number_format(0, ',', '.')  }} {{ env.getConfig("game_currency") }}</td>
				<td>{{ player.st_matches }}</td>
				<td>{{ player.st_goals }}</td>
				<td>{{ player.st_assists }}</td>
				<td>{{ player.note_last }}</td>
				<td>{{ player.note_schnitt }}</td>
				<td>{{ player.matches_injured }}</td>
				<td>{{ player.matches_blocked }}</td>
			</tr>
			{% endfor %}
		
		</tbody>
		<tfoot>
			<tr>
				<td colspan="{% if env.getConfig("hide_strength_attributes") != "1" %}4{% else %}3{% endif %}"><strong>{{ i18n.getMessage("entity_player_vertrag_gehalt") }}</strong></td>
				<td><strong>{{ salarySum|number_format(0, ',', '.')  }} {{ env.getConfig("game_currency") }}</strong></td>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
	</table>

{% else %}
	<p>{{ i18n.getMessage("no_players_found") }}</p>
{% endif %}

{% endblock %}