{% extends "base.twig" %}

{% import "macros/statisticelements.twig" as statisticelements %}

{% block page_title %}
{{ player.player_firstname }} {% if player.player_pseudonym|length > 0 %}"{{ player.player_pseudonym }}" {% endif %}{{ player.player_lastname }}
{% endblock %}

{% block page_content %}

{% if player.player_picture|length > 0 %}
	{% set player_picture = player.player_picture %}
{% else %}
	{% set player_picture = 'nobody.png' %}
{% endif %}

<div style="text-align: center; margin-bottom: 10px;">
<img src="{{ env.getConfig("context_root") }}/uploads/player/{{ player_picture }}" class="img-rounded" width="100px" />
<br /><br />
<b>{{ player.player_firstname }} {% if player.player_pseudonym|length > 0 %}"{{ player.player_pseudonym }}" {% endif %}{{ player.player_lastname }}</b>
</div>

<ul class="nav nav-tabs" id="playerTab">
  <li class="active"><a href="#general" data-toggle="tab">{{ i18n.getMessage("player_details_tab_general") }}</a></li>
  <li><a href="#statistic" data-toggle="tab">{{ i18n.getMessage("player_details_tab_statistic") }}</a></li>
  <li><a href="#history" data-toggle="tab">{{ i18n.getMessage("player_details_tab_history") }}</a></li>
  {% if player.player_tm|length > 0 %}
  <li><a href="#tm" onclick="document.location.href='{{ player.player_tm }}'">{{ i18n.getMessage("entity_player_tm") }}</a></li>
  {% endif %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="general">
  
  
		<div class="row-fluid">
			<div class="span6">
			
				<dl class="dl-horizontal">
				  <dt>{{ i18n.getMessage("entity_player_position") }}</dt>
				  <dd>{{ i18n.getMessage("player_position_" ~ player.player_position) }}</dd>
				  
				  {% if player.player_position_main|length > 0 %}
				  <dt>{{ i18n.getMessage("entity_player_position_main") }}</dt>
				  <dd><img src="{{ env.getConfig("context_root") }}/uploads/positions/{{ i18n.getMessage("player_mainposition_" ~ player.player_position_main) }}.png" width="35px" /></dd>
				  {% endif %}
				  
				  {% if player.player_position_second|length > 0 %}
				  <dt>{{ i18n.getMessage("entity_player_position_second") }}</dt>
				  <dd><img src="{{ env.getConfig("context_root") }}/uploads/positions/{{ i18n.getMessage("player_secondposition_" ~ player.player_position_second) }}.png" width="35px" /></dd>
				  {% endif %}
				  
				  <dt>{{ i18n.getMessage("entity_player_verein_id") }}</dt>
				  <dd>
				  {% if player.team_id > 0 %}
				  	<a href="{{ env.getInternalUrl("team", "id=" ~ player.team_id) }}">{{ player.team_name }}</a>
				  	
					{% if player.lending == 0 %}
						{% set lending = "Kaufangebot" %}
					{% elseif player.lending == 1 %}
						{% set lending = "Leihe bis WP" %}
					{% elseif player.lending == 2 %}
						{% set lending = "Leihe bis SE" %}
					{% else %}
						{% set lending = "Leihe 2 Saisons" %}
					{% endif %}	

				  	{% if player.lending_owner_id > 0 %}
						<i class="icon-star-empty" title="{{ lending }}"></i></em>
					{% endif %}
				  {% else %}
				  	-
				  {% endif %}
				  </dd>
				  
				  {% if player.lending_owner_id > 0 %}
					  <dt>{{ i18n.getMessage("entity_player_lending_owner_id") }}</dt>
					  <dd>
					  	<a href="{{ env.getInternalUrl("team", "id=" ~ player.lending_owner_id) }}">{{ player.lending_owner_name }}</a>
					  </dd>
				  {% endif %}
				  
				  
				  {% if env.getConfig('players_aging') == 'birthday' %}
				  	<dt>{{ i18n.getMessage("entity_player_geburtstag") }}</dt>
				  	<dd>{{ player.player_birthday|date(env.getConfig("date_format")) }} ({{ player.player_age }})</dd>
				  {% else %}
				  	<dt>{{ i18n.getMessage("entity_player_age") }}</dt>
				  	<dd>{{ player.player_age }}</dd>
				  {% endif %}
				  
				  <dt>{{ i18n.getMessage("entity_player_nation") }}</dt>
				  {% set nationImg = skin.getImage("flags/players/" ~ player.player_nationality_filename ~ ".png") %}
				  	{% if i18n.hasMessage("option_" ~ player.player_nationality_filename) %}
						{% set countryLabel = i18n.getMessage("option_" ~ player.player_nationality_filename) %}
					{% else %}
						{% set countryLabel = player.player_nationality_filename %}
					{% endif %}
				  <dd>{{ countryLabel }} {% if nationImg %}<img src="{{ nationImg }}" title="{{ countryLabel }}" alt="{{ countryLabel }}" />{% endif %}</dd>
			   
				</dl>
		
			</div>
			<div class="span6">
			
				<dl class="dl-horizontal">
				  <dt>{{ i18n.getMessage("entity_player_verletzt") }}</dt>
				  <dd>{{ player.player_matches_injured  }} {{ i18n.getMessage("player_details_unit_matches") }}</dd>
				  
				  <dt>{{ i18n.getMessage("entity_player_gesperrt") }}</dt>
				  <dd>{{ player.player_matches_blocked  }} {{ i18n.getMessage("player_details_unit_matches") }}</dd>
				  
				  <dt>{{ i18n.getMessage("entity_player_gesperrt_cups") }}</dt>
				  <dd>{{ player.player_matches_blocked_cups  }} {{ i18n.getMessage("player_details_unit_matches") }}</dd>
				  
				  <dt>{{ i18n.getMessage("entity_player_vertrag_gehalt") }}</dt>
				  <dd>{{ player.player_contract_salary|number_format(0, ',', '.')  }} {{ env.getConfig("game_currency") }}</dd>
				    		  
				  {% if player.lending_matches > 0 %}
					  <dt>{{ i18n.getMessage("entity_player_lending_matches") }}</dt>
					  <dd>{{ player.lending_matches }} {{ i18n.getMessage("player_details_unit_matches") }}</dd>
				  {% endif %}
				  
				  <dt>{{ i18n.getMessage("entity_player_marktwert") }}</dt>
				  <dd>{{ player.player_marketvalue|number_format(0, ',', '.')  }} {{ env.getConfig("game_currency") }}</dd>

				  {% if player.lending_comment|length > 0 or player.clausel|length > 0 %}
				  	<dt><br/></dt>
				  	<dd><br/></dd>

				  	<dt></dt>
					<dd><a href="#lendingComment" class="btn btn-small ajaxLink" role="button" data-toggle="modal"><i class="fa fa-book"></i> {{ i18n.getMessage("player_details_lending_comment") }}</a></dd>
					
					<div id="lendingComment" class="modal hide fade" tabindex="-1" role="dialog" 
						aria-labelledby="statModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 id="statModalLabel">{{ i18n.getMessage("player_details_lending_comment_title") }}</h3>
					  </div>
					  {% if player.clausel|length > 0 %}
					  <div class="modal-body">
					  	<h4>{{ i18n.getMessage("player_details_clausel") }}</h4>
					  	<div id="playerStatisticsPerCompetition">{{ player.clausel }}</div>
					  </div>					  
					  {% endif %}
					  {% if player.lending_comment|length > 0 %}					  
					  <div class="modal-body">
					  	<h4>{{ i18n.getMessage("player_details_lending_comment") }}</h4>
					  	<div id="playerStatisticsPerCompetition">{{ player.lending_comment }}</div>
					  </div>
					  {% endif %}
					  <div class="modal-footer">
					    <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ i18n.getMessage("button_close") }}</a>
					  </div>
					</div>
				  {% endif %}

				</dl>
			</div>
		</div>  
		
		{% if env.getConfig("transfermarket_enabled") and player.player_transfermarket > 0 %}
			<div class="alert alert-info">
			<p>{{ i18n.getMessage("player_details_avaiable_on_transfermarket") }}</p>
			{% if env.getUser().getClubId() != player.team_id %}
				<p><a class="btn btn-mini" href="{{ env.getInternalUrl("transfer-bid", "id=" ~ player.player_id) }}"><i class="icon-hand-up"></i> {{ i18n.getMessage("transfermarket_bid") }}</a></p>
			{% endif %}
			</div>
		{% elseif player.player_unsellable > 0 %}
			<div class="alert">
			<p>{{ i18n.getMessage("player_details_unsellable") }}</p>
			</div>
		{% elseif player.lending_owner_id == 0 and player.lending_fee > 0 and env.getConfig("lending_enabled") %}
			<div class="alert alert-info">
			<p>{{ i18n.getMessage("lending_player_lendable_info", player.lending_fee|number_format(0, ',', '.') ~ " " ~ env.getConfig("game_currency"))|raw }}</p>
			{% if env.getUser().getClubId() != player.team_id %}
				<p><a class="btn btn-mini" href="{{ env.getInternalUrl("borrow-player", "id=" ~ player.player_id) }}"><i class="icon-share-alt"></i> {{ i18n.getMessage("lending_player_hire_button") }}</a></p>
			{% endif %}
			</div>
		{% endif %}
  
  		{% if env.getConfig("hide_strength_attributes") != "1" %}

			{% if player.player_strength_freshness < 15 %}
				{% set number_freshness = 22 %}
			{% elseif player.player_strength_freshness < 20 %}
				{% set number_freshness = 21 %}
			{% elseif player.player_strength_freshness < 25 %}
				{% set number_freshness = 20 %}
			{% elseif player.player_strength_freshness < 30 %}
				{% set number_freshness = 19 %}
			{% elseif player.player_strength_freshness < 35 %}
				{% set number_freshness = 18 %}							
			{% elseif player.player_strength_freshness < 40 %}
				{% set number_freshness = 17 %}
			{% elseif player.player_strength_freshness < 45 %}
				{% set number_freshness = 16 %}
			{% elseif player.player_strength_freshness < 50 %}
				{% set number_freshness = 15 %}
			{% elseif player.player_strength_freshness < 55 %}
				{% set number_freshness = 14 %}
			{% elseif player.player_strength_freshness < 59 %}
				{% set number_freshness = 13 %}
			{% elseif player.player_strength_freshness < 63 %}
				{% set number_freshness = 12 %}
			{% elseif player.player_strength_freshness < 65 %}
				{% set number_freshness = 11 %}
			{% elseif player.player_strength_freshness < 69 %}
				{% set number_freshness = 10 %}
			{% elseif player.player_strength_freshness < 73 %}
				{% set number_freshness = 9 %}
			{% elseif player.player_strength_freshness < 76 %}
				{% set number_freshness = 8 %}
			{% elseif player.player_strength_freshness < 81 %}
				{% set number_freshness = 7 %}
			{% elseif player.player_strength_freshness < 86 %}
				{% set number_freshness = 6 %}
			{% elseif player.player_strength_freshness < 90 %}
				{% set number_freshness = 5 %}
			{% elseif player.player_strength_freshness < 94 %}
				{% set number_freshness = 4 %}
			{% elseif player.player_strength_freshness < 97 %}
				{% set number_freshness = 3 %}
			{% elseif player.player_strength_freshness < 100 %}
				{% set number_freshness = 2 %}
			{% else %}
				{% set number_freshness = 1 %}
			{% endif %}	

			{% if player.player_strength_stamina < 15 %}
				{% set number_stamina = 22 %}
			{% elseif player.player_strength_stamina < 20 %}
				{% set number_stamina = 21 %}
			{% elseif player.player_strength_stamina < 25 %}
				{% set number_stamina = 20 %}
			{% elseif player.player_strength_stamina < 30 %}
				{% set number_stamina = 19 %}
			{% elseif player.player_strength_stamina < 35 %}
				{% set number_stamina = 18 %}							
			{% elseif player.player_strength_stamina < 40 %}
				{% set number_stamina = 17 %}
			{% elseif player.player_strength_stamina < 45 %}
				{% set number_stamina = 16 %}
			{% elseif player.player_strength_stamina < 50 %}
				{% set number_stamina = 15 %}
			{% elseif player.player_strength_stamina < 55 %}
				{% set number_stamina = 14 %}
			{% elseif player.player_strength_stamina < 59 %}
				{% set number_stamina = 13 %}
			{% elseif player.player_strength_stamina < 63 %}
				{% set number_stamina = 12 %}
			{% elseif player.player_strength_stamina < 65 %}
				{% set number_stamina = 11 %}
			{% elseif player.player_strength_stamina < 69 %}
				{% set number_stamina = 10 %}
			{% elseif player.player_strength_stamina < 73 %}
				{% set number_stamina = 9 %}
			{% elseif player.player_strength_stamina < 76 %}
				{% set number_stamina = 8 %}
			{% elseif player.player_strength_stamina < 81 %}
				{% set number_stamina = 7 %}
			{% elseif player.player_strength_stamina < 86 %}
				{% set number_stamina = 6 %}
			{% elseif player.player_strength_stamina < 90 %}
				{% set number_stamina = 5 %}
			{% elseif player.player_strength_stamina < 94 %}
				{% set number_stamina = 4 %}
			{% elseif player.player_strength_stamina < 97 %}
				{% set number_stamina = 3 %}
			{% elseif player.player_strength_stamina < 100 %}
				{% set number_stamina = 2 %}
			{% else %}
				{% set number_stamina = 1 %}
			{% endif %}	

			{% if player.player_strength_satisfaction < 15 %}
				{% set number_satisfaction = 22 %}
			{% elseif player.player_strength_satisfaction < 20 %}
				{% set number_satisfaction = 21 %}
			{% elseif player.player_strength_satisfaction < 25 %}
				{% set number_satisfaction = 20 %}
			{% elseif player.player_strength_satisfaction < 30 %}
				{% set number_satisfaction = 19 %}
			{% elseif player.player_strength_satisfaction < 35 %}
				{% set number_satisfaction = 18 %}							
			{% elseif player.player_strength_satisfaction < 40 %}
				{% set number_satisfaction = 17 %}
			{% elseif player.player_strength_satisfaction < 45 %}
				{% set number_satisfaction = 16 %}
			{% elseif player.player_strength_satisfaction < 50 %}
				{% set number_satisfaction = 15 %}
			{% elseif player.player_strength_satisfaction < 55 %}
				{% set number_satisfaction = 14 %}
			{% elseif player.player_strength_satisfaction < 59 %}
				{% set number_satisfaction = 13 %}
			{% elseif player.player_strength_satisfaction < 63 %}
				{% set number_satisfaction = 12 %}
			{% elseif player.player_strength_satisfaction < 65 %}
				{% set number_satisfaction = 11 %}
			{% elseif player.player_strength_satisfaction < 69 %}
				{% set number_satisfaction = 10 %}
			{% elseif player.player_strength_satisfaction < 73 %}
				{% set number_satisfaction = 9 %}
			{% elseif player.player_strength_satisfaction < 76 %}
				{% set number_satisfaction = 8 %}
			{% elseif player.player_strength_satisfaction < 81 %}
				{% set number_satisfaction = 7 %}
			{% elseif player.player_strength_satisfaction < 86 %}
				{% set number_satisfaction = 6 %}
			{% elseif player.player_strength_satisfaction < 90 %}
				{% set number_satisfaction = 5 %}
			{% elseif player.player_strength_satisfaction < 94 %}
				{% set number_satisfaction = 4 %}
			{% elseif player.player_strength_satisfaction < 97 %}
				{% set number_satisfaction = 3 %}
			{% elseif player.player_strength_satisfaction < 100 %}
				{% set number_satisfaction = 2 %}
			{% else %}
				{% set number_satisfaction = 1 %}
			{% endif %}

			<h4>{{ i18n.getMessage("player_details_strength_title") }}</h4>
			<br />
			<table style="text-align: center;" width="100%">
				<thead>
					<th>{{ i18n.getMessage('entity_player_w_frische') }}</th>
					<th>{{ i18n.getMessage('entity_player_w_kondition') }}</th>
					<th>{{ i18n.getMessage('entity_player_w_zufriedenheit') }}</th>
				</thead>
				<tbody>
					<td width="33%" style="padding:10px"><img src="{{ env.getConfig("context_root") }}/uploads/strength/{{ number_freshness }}.png" /></td>
					<td width="33%" style="padding:10px"><img src="{{ env.getConfig("context_root") }}/uploads/strength/{{ number_stamina }}.png" /></td>
					<td width="33%" style="padding:10px"><img src="{{ env.getConfig("context_root") }}/uploads/strength/{{ number_satisfaction }}.png" /></td>
				</tbody>
			</table>
		{% endif %}

  
  </div>
  
  <div class="tab-pane" id="statistic">
  
		<div class="row-fluid">
			<div class="span6">
				<h4>{{ i18n.getMessage("player_details_statistic_season") }}</h4>
		
				<dl class="dl-horizontal">
				  <dt>{{ i18n.getMessage("player_details_statistic_matches") }}</dt>
				  <dd>{{ player.player_season_matches }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_goals") }}</dt>
				  <dd>{{ player.player_season_goals }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_assists") }}</dt>
				  <dd>{{ player.player_season_assists }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_yellow") }}</dt>
				  <dd>{{ player.player_season_yellow }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_yellow_red") }}</dt>
				  <dd>{{ player.player_season_yellow_red }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_red") }}</dt>
				  <dd>{{ player.player_season_red }}</dd>
				</dl>
		
			</div>
			<div class="span6">
				<h4>{{ i18n.getMessage("player_details_statistic_total") }}</h4>
		
				<dl class="dl-horizontal">
				  <dt>{{ i18n.getMessage("player_details_statistic_matches") }}</dt>
				  <dd>{{ player.player_total_matches }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_goals") }}</dt>
				  <dd>{{ player.player_total_goals }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_assists") }}</dt>
				  <dd>{{ player.player_total_assists }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_yellow") }}</dt>
				  <dd>{{ player.player_total_yellow }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_yellow_red") }}</dt>
				  <dd>{{ player.player_total_yellow_red }}</dd>
				  
				  <dt>{{ i18n.getMessage("player_details_statistic_red") }}</dt>
				  <dd>{{ player.player_total_red }}</dd>
				</dl>
			</div>
		</div>
		
		<p><a href="#statModal" class="btn btn-small ajaxLink" role="button" data-toggle="modal" data-ajaxtarget="playerStatisticsPerCompetition" 
			data-ajaxblock="playerstatistics" data-ajaxquerystr="id={{ player.player_id }}" ><i class="icon-bar-chart"></i> {{ i18n.getMessage("player_details_statistic_opendetails") }}</a></p>
		
		<div id="statModal" class="modal hide fade" tabindex="-1" role="dialog" 
			aria-labelledby="statModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="statModalLabel">{{ i18n.getMessage("player_details_statistic_detailstitle") }}</h3>
		  </div>
		  <div class="modal-body">
		  	<div id="playerStatisticsPerCompetition">...</div>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ i18n.getMessage("button_close") }}</a>
		  </div>
		</div>
		
		<h4>{{ i18n.getMessage("player_details_grades_title") }}</h4>
  		{% if grades is defined and grades|length > 0 %}
  			{% if grades|length == 1 %}
  				<p><strong>{{ i18n.getMessage("player_details_grade_last_match") }}:</strong> {{ grades[0] }}</p>
  			{% else %}
  				<div id="grades" style="width: 600px; height: 300px; margin-left: 30px; margin-bottom: 30px"
  					data-series="[{% for grade in grades %}{% if loop.index > 1 %}, {% endif %}[{{ loop.index }}, {{ grade }}]{% endfor %}]"></div>
  			{% endif %}
  			
  			<p><strong>{{ i18n.getMessage("player_details_grade_average") }}:</strong> {{ player.player_avg_grade }}</p>	
  		{% else %}
  			<p>{{ i18n.getMessage("player_details_nogradesavailable") }}</p>
  		{% endif %}
  		
  </div>
  
  <div class="tab-pane" id="history">
  
  	{% if player.player_history|length > 0 %}
		<p>{{ player.player_history|nl2br }}</p>
	{% elseif completedtransfers is not defined or completedtransfers|length == 0 or not env.getConfig("transfermarket_enabled") %}
  		<p>{{ i18n.getMessage("player_details_nohistoryavailable") }}</p>
	{% endif %}
	
	{% if env.getConfig("transfermarket_enabled") or env.getConfig("transferoffers_enabled") %}
		<h4>{{ i18n.getMessage("transfers_tab") }}</h4>
		
		{% include "blocks/transfers-list.twig" %}
	{% endif %}
  
  </div>

</div>
{% endblock %}