{% import "macros/formelements.twig" as formelements %}
{% import "macros/statisticelements.twig" as statisticelements %}
{% import "macros/profileelements.twig" as profile %}

{% extends "base.twig" %}

{% block page_title %}
{{ trainer.name }}
{% endblock %}

{% block page_content %}

{{ profile.infofield(i18n.getMessage("entity_trainer_p_frische"), trainer.p_frische, true) }}
{{ profile.infofield(i18n.getMessage("entity_trainer_p_kondition"), trainer.p_kondition, true) }}
{{ profile.infofield(i18n.getMessage("entity_trainer_p_zufriedenheit"), trainer.p_zufriedenheit, true) }}

<form class="form-horizontal" method="post">
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage('button_save') }}</button>
		<a href="{{ env.getInternalUrl("training") }}" class="btn">{{ i18n.getMessage('button_cancel') }}</a>
	</div>
	<input type="hidden" name="id" value="{{ trainer.id }}"/>
	<input type="hidden" name="page" value="trainer-details"/>
	<input type="hidden" name="action" value="choose-trainer"/>
</form>
{% endblock %}