{% import "macros/formelements.twig" as formelements %}
{% import "macros/statisticelements.twig" as statisticelements %}
{% import "macros/paginator.twig" as pagination %}
{% import "macros/profileelements.twig" as profile %}

{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("training_navlabel") }}
{% endblock %}

{% block page_content %}

{# last training execution #}

{% if lastExecution > 0 %}
	{{ profile.infofield(i18n.getMessage("training_last_execution"), env.getFormattedDatetime(lastExecution)) }}
{% endif %}

{% if env.getConfig("training_min_hours_between_execution") > 0 %}
<p style="margin-top: 10px; margin-bottom: 20px;"><i class="icon-info-sign"></i> {{ i18n.getMessage('training_execute_training_note', env.getConfig("training_min_hours_between_execution")) }}</p>
{% endif %}	

{# Show result of executed training unit #}
{% if trainingEffects|length > 0 %}
	<h3>{{ i18n.getMessage("training_execute_effects_title") }}</h3>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ i18n.getMessage("entity_player") }}</th>
				<th>{{ i18n.getMessage("entity_player_w_kondition") }}</th>
				<th>{{ i18n.getMessage("entity_player_w_frische") }}</th>
				<th>{{ i18n.getMessage("entity_player_w_zufriedenheit") }}</th>
			</tr>
		</thead>
		<tbody>
		{% for playerId,effect in trainingEffects %}
			<tr>
				<td><a href="{{ env.getInternalUrl("player", "id=" ~ playerId) }}" target="_blank" title="{{ i18n.getMessage("player_navlabel") }}">{{ effect.name }}</a></td>
				<td>
					{% set changeLabel = effect.stamina %}
					{% if changeLabel > 0 %}
						{% set changeCssClass = "badge-success" %}
						{% set changeLabel = "+" ~ changeLabel %}
					{% elseif changeLabel < 0 %}
						{% set changeCssClass = "badge-important" %}
					{% else %}
						{% set changeCssClass = "" %}
					{% endif %}
					<span class="badge {{ changeCssClass }}">{{ changeLabel }}</span>
				</td>
				<td>
					{% set changeLabel = effect.freshness %}
					{% if changeLabel > 0 %}
						{% set changeCssClass = "badge-success" %}
						{% set changeLabel = "+" ~ changeLabel %}
					{% elseif changeLabel < 0 %}
						{% set changeCssClass = "badge-important" %}
					{% else %}
						{% set changeCssClass = "" %}
					{% endif %}
					<span class="badge {{ changeCssClass }}">{{ changeLabel }}</span>
				</td>
				<td>
					{% set changeLabel = effect.satisfaction %}
					{% if changeLabel > 0 %}
						{% set changeCssClass = "badge-success" %}
						{% set changeLabel = "+" ~ changeLabel %}
					{% elseif changeLabel < 0 %}
						{% set changeCssClass = "badge-important" %}
					{% else %}
						{% set changeCssClass = "" %}
					{% endif %}
					<span class="badge {{ changeCssClass }}">{{ changeLabel }}</span>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endif %}

{# Select trainer #}
{% if training_unit is not defined or training_unit|length == 0 %}

	<h3>{{ i18n.getMessage("training_choose_trainer") }}</h3>

	{% if trainers is defined and trainers|length > 0 %}
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ i18n.getMessage("entity_trainer_name") }}</th>
				<th style="text-align: center">{{ i18n.getMessage("entity_trainer_p_frische") }}</th>
				<th style="text-align: center">{{ i18n.getMessage("entity_trainer_p_kondition") }}</th>
				<th style="text-align: center">{{ i18n.getMessage("entity_trainer_p_zufriedenheit") }}</th>
			</tr>
		</thead>
		<tbody>
		{% for trainer in trainers %}
			<tr>
				<td><p>{{ trainer.name }}</p>
				<p><a href="{{ env.getInternalUrl("trainer-details", "id=" ~ trainer.id) }}" class="btn"><i class="icon-hand-right"></i> {{ i18n.getMessage("button_choose") }}</a></p></td>
				<td style="text-align: center">{{ trainer.p_frische }}</td>
				<td style="text-align: center">{{ trainer.p_kondition }}</td>
				<td style="text-align: center">{{ trainer.p_zufriedenheit }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	{{ pagination.paginator(paginator) }}
	
	{% else %}
		<p>{{ i18n.getMessage("training_no_trainers_available") }}</p>
	{% endif %}

{# execute unit details #}
{% else %}

	<h3>{{ i18n.getMessage("training_trainer_details") }}</h3>

	{{ profile.infofield(i18n.getMessage("entity_trainer_name"), training_unit.trainer.name) }}
	{{ profile.infofield(i18n.getMessage("entity_trainer_p_frische"), training_unit.trainer.p_frische, true) }}
	{{ profile.infofield(i18n.getMessage("entity_trainer_p_kondition"), training_unit.trainer.p_kondition, true) }}
	{{ profile.infofield(i18n.getMessage("entity_trainer_p_zufriedenheit"), training_unit.trainer.p_zufriedenheit, true) }}
	
	<form class="form-horizontal" method="post">
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ i18n.getMessage('training_execute_button') }}</button>
			<a href="{{ env.getInternalUrl("office") }}" class="btn">{{ i18n.getMessage('button_cancel') }}</a>
		</div>
		<input type="hidden" name="id" value="{{ training_unit.id }}"/>
		<input type="hidden" name="page" value="training"/>
		<input type="hidden" name="action" value="execute-training"/>
	</form>

{% endif %}
{% endblock %}